{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "react-dom/server": "./node_modules/react-apollo/react-apollo.browser.umd.js"
        }
      }
    ]]
}
