# Intended to match Prettier's default config
root = true

[*]
tab_width = 2
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
max_line_length = 80
