{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react-hooks"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/storybook/**"],
        "optionalDependencies": false
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js"]
      }
    }
  },
  "root": true
}
