## generic
**/node_modules/*
**/coverage/*
**/rnw.js
dist
__snapshots__
CHANGELOG.md
.*
!*.json
**/package.json
LICENSE
yarn.lock
*.log

# specific to root
storybook-static
*.yml
*.html
*.sh
*.log
packages
coverage
settings.gradle
build.gradle
