## generic
**/node_modules/*
**/coverage/*
dist
__snapshots__
**/package.json
android/*
ios/*
CHANGELOG.md
.*
LICENSE
yarn.lock

# specific to root
.storybook.native/story-loader.js
*.yml
*.html
*.sh
*.log
packages
settings.gradle
build.gradle
*.log
storybook-static
