.articleListType__Interview{
    font-weight: 700;
}

.articleListType__Receipe{
    color: rgba(29,99,85,1);
    font-weight: 700;
}

.articleListType__Review{
    color: rgba(128,0,0,1);
    font-weight: 700;
}