**/node_modules/*
dist
__snapshots__
android/*
ios/*
CHANGELOG.md
.*
!*.json
**/package.json
**/coverage/*
LICENSE
yarn.lock
*.log
rnw.js
haul.config.js
xnative/*
gradle/*
gradlew
gradlew.bat
settings.gradle
publish.sh
gradle.properties
build.gradle
